.footer-section {
	height: 300px;
	width: 100%;
	color: white;
	background-color: #0f1822;
}
.contact-information {
	margin-left: 10%;
	margin-bottom: 5%;
}
.footer-title-section {
	margin-bottom: 3%;
}
