
.pods-section{
    width: 100%;
    height: 100%;
    margin-top: 75%;
    color: white;
}
.image{
    height: 50px;
    width: 50px;
}
.pod-card-image{
    height: 30pc;
    width: 22pc;
    border-radius: 5px;
}
.pod-title{
    margin-left: 8%;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 3%;
}