.card-section{
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
}
.card-image{
   height: 250px;
   width: 290px;
   margin-bottom: 10px;
}

.pod-info-card{
    width: 90%;
    color: white;
}
.card-line-seperator{
    height: 1px;
    background-color: #72bda3;
}
.card-section-bottom{
    margin-left: 10%;
    margin-bottom: 150px;
}